"""
Группы состояний диалогов
"""

from aiogram.fsm.state import State, StatesGroup


# pylint: disable=too-few-public-methods
class DialogStates(StatesGroup):
    """
    Состояния диалога

    todo: добавить описание
    """

    # todo: добавить состояния например
    state1 = State()
