"""
Диалоги
"""

import logging
import os

from aiogram_dialog import Dialog, Window
from aiogram_dialog.widgets.kbd import Button
from aiogram_dialog.widgets.text import Const

from djgram.configs import DIALOG_DIAGRAMS_DIR, ENABLE_DIALOG_DIAGRAMS_GENERATION
from djgram.utils.diagrams import render_transitions_safe

from . import callbacks
from .states import DialogStates

logger = logging.getLogger(__name__)

dialog = Dialog(  # todo: rename dialog
    Window(
        Const("Пример диалога"),
        Button(Const("Вывести приветствие"), id="say_hello", on_click=callbacks.say_hello),
        state=DialogStates.state1,
    ),
)

if ENABLE_DIALOG_DIAGRAMS_GENERATION:
    render_transitions_safe(
        dialog,
        title="Dialog",
        filename=os.path.join(DIALOG_DIAGRAMS_DIR, "dialog"),  # noqa: PTH118
    )
    logger.info("Generated diagram for dialog todo: add dialog name")
