"""
Диалоги
"""

import logging

from aiogram_dialog import Dialog, Window

from djgram.configs import DIALOG_DIAGRAMS_DIR, ENABLE_DIALOG_DIAGRAMS_GENERATION
from djgram.utils.diagrams import render_transitions_safe


logger = logging.getLogger(__name__)

dialog = Dialog(  # todo: rename dialog
    Window(

    ),
)

if ENABLE_DIALOG_DIAGRAMS_GENERATION:
    render_transitions_safe(
        dialog,
        title="Dialog",
        filename=DIALOG_DIAGRAMS_DIR / "dialog",
    )
    logger.info("Generated diagram for dialog todo: add dialog name")
