"""
Группы состояний диалогов
"""

from aiogram.fsm.state import State, StatesGroup


class DialogStates(StatesGroup):
    """
    Состояния диалога

    todo: добавить описание
    """

    # todo: добавить состояния например
    state1 = State()
