Jinja2~=3.1.4
aiogram-dialog[tools]>=2.0.0,<3.0.0
aiogram>=3.0.0,<4.0.0
asynch[compression]~=0.2.4
cachetools~=5.4.0
clickhouse-cityhash~=1.0.2.4
click~=8.1.7
graphviz~=0.20.3
humanfriendly~=10.0
limiter~=0.5.0
orjson~=3.10.6
sqlalchemy-file~=0.6.0
sqlalchemy~=2.0.31
uuid6~=2024.7.10