-r requirements.txt


# Code quality
# ------------------------------------------------------------------------------
bandit==1.7.9                       # https://github.com/PyCQA/bandit
black==24.4.2                       # https://github.com/psf/black
ruff==0.5.5                         # https://github.com/astral-sh/ruff
isort==5.13.2                       # https://github.com/PyCQA/isort
pre-commit==3.7.1                   # https://github.com/pre-commit/pre-commit
