-r requirements.txt


# Code quality
# ------------------------------------------------------------------------------
ruff==0.8.4                         # https://github.com/astral-sh/ruff
pre-commit==4.0.1                   # https://github.com/pre-commit/pre-commit
pytest==8.3.4                       # https://github.com/pytest-dev/pytest
