-r requirements.txt


# Code quality
# ------------------------------------------------------------------------------
ruff==0.9.5                         # https://github.com/astral-sh/ruff
pre-commit==4.1.0                   # https://github.com/pre-commit/pre-commit
pytest==8.3.4                       # https://github.com/pytest-dev/pytest
