"""
Обработчики
"""

from aiogram import Router
from aiogram.filters import Command
from aiogram.types import Message
from aiogram_dialog import DialogManager, StartMode

from .dialogs import DialogStates, dialog

router = Router()
router.include_router(dialog)


@router.message(Command(commands=["dialog"]))
async def start_dialog(message: Message, dialog_manager: DialogManager):
    """
    todo: добавить описание диалога
    """

    await dialog_manager.start(DialogStates.state1, mode=StartMode.RESET_STACK)
